helpmate_env/*
helpmate_env/
helpmate_env
AI/
AIAI/*
__pycache__
__pycache__/*
__pycache__/
DRAW
DRAW/
DRAW/*
node_modules
node_modules/
node_modules/*
helpmate-ai-client
helpmate-ai-client/
helpmate-ai-client/*
__pycache__
__pycache__/
__pycache__/*